*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.1em;
}
:root{
    --bleed: 0.5em 0.75rem;
    --border-radius: 0.5rem;
}

.container{
    min-height: 40rem;
    min-width: 40rem;
}


.header{
    height: 10rem;
    background-color: black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.headerbar{
    flex: 1;
    background-color: rgb(25, 25, 54);
    margin: 1rem;
    display: flex;
}
.headerbar>div {
    flex: 1;
    background-color: crimson;
    margin: 1rem;
}
.headerbar>div:nth-child(2){
    flex:  2;
}

.navbar {
    flex: 1;
    background-color: orange;
    margin: 1rem;
    display: flex;
}
.navbar>span{
    flex: 1;
    background-color: palegoldenrod;
    margin: 1rem;
}


.main{
    height: 15rem;
    background-color: yellow;
    margin: 1rem;
    display: flex;
}
.section_main {
    flex-grow: 2;
    margin: 1rem;
    background-color: rgb(26, 26, 62);
    
    display: flex;
    flex-wrap: wrap;
    
}
.section_main>div{
    background-color: mediumblue;
    flex-grow: 1;
    flex-basis: 40%;
    margin: 1rem;
    
}
.section_main>div:last-child{
    flex-grow: 2;
    flex-basis: 100%;
    background-color: lightskyblue;
}

.aside {
    flex-grow: 1;
    background-color: crimson;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.aside>div{
    background-color: gold;
    height: 2rem;
    flex-shrink: 10%;
    margin: 1rem;
}


.footer {
    height: 5rem;
    background-color: black;
    margin: 1rem;
    display: flex;
}
.section_footer{
    background-color: gold;
    flex: 1;
    margin: 1rem;
}