*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.1em;
}
:root{
    --bleed: 0.5em 0.75rem;
    --border-radius: 0.5rem;
    --margin: 1rem;
    --height: 1rem;
}

@media (prefers-color-scheme: light){
    .contaner{
        background-color: whitesmoke ;
    }

    .header{
        background-color: #444;
    }
    .headerbar{
        background-color: rgb(25, 25, 54);
    }
    .headerbar>div{
        background-color: crimson;
    }
    .navbar {
        background-color: orange;
    }
    .navbar>span {
        background-color: palegoldenrod;
    }

    .main{
        background-color: yellow;
    }
    .article-wrapper{
        background-color: rgb(26, 26, 62);
    }
    .article-wrapper>div{
        background-color: mediumblue;
    }
    .aside{
        background-color: crimson;
    }
    .aside>div{
        background-color: gold;
    }

    .footer{
        background-color: #444;
    }
    .footer-section{
        background-color: gold;
    }
}
.container{
    min-height: 100vh;
    max-width: 80vw;
    margin: 0 auto;
}

/* Estílos Bloque 1 header e hijos */

.header{
    margin: var(--margin);
    display: flex;
    flex-direction: column;
}
.headerbar{
    margin: var(--margin);
    display: flex;    
}
.headerbar>div {
    height: var(--height);
    margin: var(--margin); 
    flex-grow: 1;
}
@media (min-width: 40rem){
    .headerbar>div:nth-child(2){
       flex-grow: 2;
    }
}
@media (max-width: 40rem){
    .headerbar{
        display: flex;
        flex-direction: column;
    }
    .headerbar>div{
        flex-grow: 1;
    }
    
}

.navbar {
    margin: var(--margin);
    display: flex;
}
.navbar>span{
    flex-grow: 1;
    height: var(--height);
    margin: var(--margin);
}

/* Estílos Bloque 2 Main e hijos */

.main{
    
    height: 15rem;
    margin: 1rem;
    display: flex;
}
.article-wrapper {
    flex-grow: 2;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}
.article-wrapper>div{
    
    flex-grow: 1;
    flex-basis: 40%;
    margin: 1rem;
    
}
@media(min-width: 40rem){
    .article-wrapper>div:last-child{
        flex-grow: 2;
        flex-basis: 100%;
    }
}

.article-wrapper>div:last-child{
    background-color: lightskyblue;
}

.aside {
    
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.aside>div{
    height: 2rem;
    flex-shrink: 10%;
    margin: 1rem;
}

/* Estílos Bloque 1 Footer e hijos */

.footer {
    height: 5rem;
    margin: 1rem;
    display: flex;
}
.footer-section{
    
    flex: 1;
    margin: 1rem;
}

@media(max-width: 40rem){
   
}